<app-barralateral></app-barralateral>
<!--<script src="https://www.google.com/recaptcha/api.js?render=explicit&onload=initRecaptcha" async defer></script>-->
<div class="container">
  <div class="jumbotron">
    <div class="row">
      <div class="col-sm">
        <h1 class="text-center"> {{titulo}} </h1>



        <form [formGroup]="viajeForm" (submit)="llenarFormulario()">
          <div class="form-group">
            <label for="fecha">Fecha</label>
            <p-calendar [inline]="true"  formControlName="fecha" dateFormat="yy/mm/dd" ></p-calendar>
          </div>
          <div class="form-group">
            <input placeholder="Origen" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #origen [formControl]="origenControl">
          </div>
          <div class="form-group">
            <input placeholder="Destino" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" class="form-control" #destino [formControl]="destinoControl">
          </div>
          <div class="form-group">
            <label class="center-block">Hora
              <p-calendar [timeOnly]="true" [inline]="true" formControlName="hora" hourFormat="24"></p-calendar>
            </label>
            <div *ngIf="viajeForm.controls.hora.invalid"
                  class="alert alert-danger">

              <div *ngIf="!viajeForm.controls.hora.required">
                La hora es requerida
              </div>
              <div *ngIf="!viajeForm.controls.hora.minlength">
                la hora tiene que tener como minimo 4 caracteres
              </div>
            </div>

          </div>
          <div class="form-group">
            <h2 class="text-center">Tipo de vehiculo </h2>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="tipo" value="comun" checked>
              <label class="form-check-label" for="exampleRadios1">
                Comun
              </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" formControlName="tipo" value="premium">
              <label class="form-check-label">
                Premium
              </label>
            </div>
          </div>
          <div class="form-group">
            <p-captcha siteKey="6Lf4rF4UAAAAAPiiMTDNqSA-8mQUd9XK1T_pdKdG" (onResponse)="showResponse($event)"></p-captcha>
          </div>
          <!--<button type="submit" class="btn btn-primary"  >Reservar viaje</button> -->              
         <button type="submit" class="btn btn-primary" [disabled]="!viajeForm.valid" >Reservar viaje</button>
        </form>        
      </div>
    </div>
  </div>
</div>