<app-barralateral></app-barralateral>
<div *ngIf="viajesRemisero">
    <div class="container">
        <div class="jumbotron">
            <div class="row">              
                <div class="col-sm d-flex align-items-stretch ">
                    <div class="card" style="width: 18rem;" (click)="ir('viajes')">
                        <img class="card-img-top" height="200" width="300" src="https://i.imgur.com/boe1C4C.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Viajes </h5>
                            <p class="card-text"> Ve la lista de tus viajes</p>
                        </div>
                    </div>                    
                </div>
                <div class="col-sm d-flex align-items-stretch">
                    <div class="card" style="width: 18rem; " (click)="ir('configuracion')" >
                        <img class="card-img-top" height="200" width="300" src="https://i.imgur.com/1N6Wgj3.png" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Configuracion y datos de la cuenta</h5>
                            <p class="card-text">Consulta tus datos y configura tu cuenta</p>
                        </div>
                    </div>                      
                </div>
            </div>                        
        </div>
<div *ngIf="!viajesRemisero">
    <p> no se cargaron los viajes </p>
</div>